@import 'bootstrap/dist/css/bootstrap';
@import "@fortawesome/fontawesome-free/css/all.css";

.asterick label::after{
  content:" *" !important;
  color: red;
}

.container {
  padding: 3rem;
}

.color-primary {
  color: #74C0FC;
}

.color-view {
  color: #edbd0c;
}

.color-danger {
  color: #ea6657;
}

.color-favorite {
  color: #B197FC;
}

.flash-messages {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  z-index: 1050;
  text-align: center;
}

.alert {
  margin-top: 10px;
  display: inline-block;
  width: auto;
  opacity: 0.95;
}

.cursor-pointer {
  cursor: pointer;
}

.active {
  color: blue;
}

.none-decoration {
  text-decoration: none !important
}

.chat-container {
  display: flex;
  flex: 1;
  overflow: hidden;
  height: 900px;
}
.contact-list {
  border-right: 1px solid #dee2e6;
  width: 300px;
  overflow-y: auto;
}
.contact-item {
  padding: 15px;
  cursor: pointer;
  border-bottom: 1px solid #dee2e6;
}
.contact-item:hover {
  background-color: #f1f1f1;
}
.chat-area {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.chat-header {
  background-color: #f8f9fa;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

.messages {
  flex: 1;
  overflow-y: auto;
  padding: 15px;
  background-color: #f8f9fa;
}
.message {
  margin-bottom: 15px;
}
.message.sent {
  text-align: right;
}
.message.received {
  text-align: left;
}
.message p {
  display: inline-block;
  padding: 10px;
  border-radius: 20px;
}
.message.sent p {
  background-color: #007bff;
  color: white;
}
.message.received p {
  background-color: #e9ecef;
  color: black;
}
.input-group {
  border-top: 1px solid #dee2e6;
  position: sticky;
  bottom: 0;
  background: white;
  z-index: 1;
}
.active-user {
  background-color: #CED4DA;
}
.unread-message {
  background-color: #4e8dcc;
}
.badge-success {
  background-color: green;
  color: white;
  height: 15px;
  width: 15px;
  border-radius: 50%;
}

