@import 'bootstrap/dist/css/bootstrap';
@import "@fortawesome/fontawesome-free/css/all.css";

.asterick label::after{
  content:" *" !important;
  color: red;
}

.container {
  padding: 3rem;
}

.color-primary {
  color: #74C0FC;
}

.color-view {
  color: #edbd0c;
}

.color-danger {
  color: #ea6657;
}

.color-favorite {
  color: #B197FC;
}

.flash-messages {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  z-index: 1050;
  text-align: center;
}

.alert {
  margin-top: 10px;
  display: inline-block;
  width: auto;
  opacity: 0.95;
}

.cursor-pointer {
  cursor: pointer;
}

.active {
  color: blue;
}

.none-decoration {
  text-decoration: none !important
}
